<div class="ekart--search--product">
  <!-- [(ngModel)]="searchText" 
  (input)="getSearchText()" -->

  <!-- 'btn-search': searchText,
      'btn--search--disable': !searchText -->

  <input 
  class="ekart-search-product-input" 
  #searchInput
/>
  <button
    [ngClass]="{
      btn: true,
      'btn-search': true,
    }"
    (click)="setSearchText()"

  >
    Search
  </button>
</div>
<div class="ekart-search-result-for">
  <p *ngIf="searchText; is: not; equal: ''">
    <strong>Search result for:</strong> {{ searchText }}
  </p>
</div>
