<div class="eshop--product--container">
    <!-- <img [src]="product.pImage">
    <p>Name : {{product.name}}</p>
    <p>Price : ${{ product.price}}</p>
    <p>Color : {{product.color}}</p>
    <p>Discount Price : ${{ getDiscountPrice()}}</p>
    <p>inStock : {{product.inStock > 0 ? product.inStock + ' Product left' : 'product not available'}}</p>
    <button (click)="decreaseValue()">-</button>
    <span>{{addToCart}}</span>
    <button (click)="increaseValue()">+</button> -->

    <app-search (inputSearchText) = "getSearchTextFromChild($event)"></app-search>
    <product-list [search]="searchText"></product-list>

</div>





<!-- <button [disabled] = "product.inStock > 0 ? false : true">Buy Now</button>
<input bind-value="name" (input)="onChange($event)"/>
<p>name : {{name}}</p> -->