<app-filter
  [alls]="totalProduct"
  [inStock]="stockAvailable"
  [outStock]="outStock"
  (onSelectChangeRadio)="onChangeFilterdata($event)"
>
</app-filter>
<div class="eshop--product--container">
  <!-- *ngIf="
        onSelectRadioButton === 'all' ||
        item.is_in_inventory.toString() === onSelectRadioButton
      " -->
  <div *ngFor="let item of products" (click) = "selectedProduct = item">
    <app-product
      [product]="item"
      *ngIf="item.name.toLowerCase().includes(search)"
    >
    </app-product>


  </div>
</div>
